.product {
    background-color: white;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.product:last-child {
    border-bottom: none;
}

.product a {
    display: flex;
    width: 100%;
}

.product .content {
    padding-left: 20px
}

.product .title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.product .category {
    padding-bottom: 10px;
    color: grey;
    font-style: italic;
}

