.quote {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
}

.quote .text {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    max-width: 90%;
    width: 90%;
}